/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

&mt {
    quick-tap-ms = <150>;
    flavor = "tap-preferred";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL  &kp N1      &kp N2      &kp N3        &kp N4       &kp N5  &kp LBKT                      &kp RBKT   &kp N6  &kp N7       &kp N8       &kp N9      &kp N0              &kp MINUS
&kp TAB    &kp Q       &kp W       &kp E         &kp R        &kp T   &kp MINUS                     &kp EQUAL  &kp Y   &kp U        &kp I        &kp O       &kp P               &kp BSLH
&kp ESC    &mt LGUI A  &mt LALT S  &mt LSHIFT D  &mt LCTRL F  &kp G   &none                         &none      &kp H   &mt RCTRL J  &mt RSHFT K  &mt RALT L  &mt RGUI SEMICOLON  &kp SQT
&kp LSHFT  &kp Z       &kp X       &kp C         &kp V        &kp B              &none    &none                &kp N   &kp M        &kp COMMA    &kp DOT     &kp SLASH           &kp RSHIFT
&kp LEFT   &kp DOWN    &kp UP      &kp RIGHT     &mo LOWER            &kp SPACE  &kp DEL  &kp BSPC  &kp RET            &mo RAISE    &kp LEFT     &kp DOWN    &kp UP              &kp RIGHT
            >;
        };

        lower_layer {
            bindings = <
&kp F11    &kp F1     &kp F2            &kp F3             &kp F4          &kp F5                 &none                   &none   &kp F6        &kp F7  &kp F8  &kp F9     &kp F10       &kp F12
&kp GRAVE  &kp EXCL   &kp AT            &kp HASH           &kp DOLLAR      &kp PERCENT            &none                   &none   &kp N7        &kp N8  &kp N9  &kp MINUS  &kp SLASH     &none
&kp TILDE  &kp CARET  &kp AMPERSAND     &kp ASTERISK       &kp LPAR        &kp RIGHT_PARENTHESIS  &none                   &none   &kp NUMBER_4  &kp N5  &kp N6  &kp PLUS   &kp ASTERISK  &none
&trans     &none      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE                &none   &none           &kp N1        &kp N2  &kp N3  &kp DOT    &kp EQUAL     &none
&trans     &trans     &trans            &trans             &trans                                 &trans  &trans  &trans  &kp N0                &trans  &trans  &trans     &trans        &trans
            >;
        };

        raise_layer {
            bindings = <
&none   &none       &none       &none       &none       &none  &none                   &none   &none  &none         &none         &none   &none   &none
&none   &none       &none       &none       &none       &none  &none                   &none   &none  &none         &none         &none   &none   &none
&none   &kp C_PREV  &kp C_NEXT  &kp C_STOP  &kp C_STOP  &none  &none                   &none   &none  &kp C_VOL_DN  &kp C_VOL_UP  &none   &none   &none
&trans  &none       &none       &none       &none       &none          &none   &none           &none  &none         &none         &none   &none   &trans
&trans  &trans      &trans      &trans      &trans             &trans  &trans  &trans  &trans         &trans        &trans        &trans  &trans  &trans
            >;
        };
    };
};
